fastapi
uvicorn
pydantic
google-generativeai
requests
pymupdf
pytesseract
pillow
sentence-transformers
faiss-cpu
tiktoken
python-multipart
python-dotenv
groq
langchain
langchain-groq
langchain-community
chromadb
