fastapi
uvicorn
pydantic
google-generativeai
requests
pymupdf
pytesseract
pillow
sentence-transformers
faiss-cpu
tiktoken
python-multipart
faiss-cpu
fastapi
google-generativeai
pillow
pydantic
pymupdf
pytesseract
python-multipart
requests
sentence-transformers
tiktoken
uvicorn
